.main-background-color {
    /*background-color: rgb(245, 245, 245);*/
    background: #f4f4f4; /* Old browsers */
    background: -moz-linear-gradient(top,  #f4f4f4 0%, #cecece 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f4f4f4 0%,#cecece 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f4f4f4 0%,#cecece 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f4f4f4 0%,#cecece 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f4f4f4 0%,#cecece 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}
form {
    padding: 15px;
    border-bottom: 1px solid #E8E8E8;
}
.holder {
    width: 100%;
    margin-bottom: 20px;
}
.form-title {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(48, 48, 48);
    color: white;
}
h1 {
    font-size: 20px;
}
label {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}
input[type="text"],
input[type="email"],
input[type="password"]  {
    height: 20px;
    width: 350px;
}
input[type="submit"] {
    width: 100px;
    height: 50px;
    border: 0;
    background-color: #0000FF;
    margin: 0 auto;
    display: inherit;
    color: white;
    font-size: 15px;
}
.form-holder {
    width: 500px;
    margin: 0 auto;
    margin-top: 200px;
    background-color: white;
}
.additional-holder {
    height: 50px;
    line-height: 50px;
}
.additional-holder div {
    width: 50%;
    float: left;
    text-align: center;
}
.clear {
    clear: both;
}