.DS_Store
temporary/
public/user_images/avatars
!public/user_images/avatars/.empty
!public/user_images/avatars/silhouette.png
public/user_images/page_images
!public/user_images/page_images/.empty
!public/user_images/page_images/ball.jpg
public/user_images/post_images
!public/user_images/post_images/.empty
public/user_images/widget_images
!public/user_images/widget_images/.empty
!public/user_images/widget_images/widget_football.png
public/user_images/galery
!public/user_images/galery/.empty
!public/user_images/galery/galery_empty.jpg
public/user_images/big_logos
!public/user_images/big_logos/.empty
!public/user_images/big_logos/ball.jpg